@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Style the form */
body{
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	background: linear-gradient(to right, #333399, #ff00cc);
	display:flex;
	align-items: center;
	justify-content: center;
}

#regForm {
	
	margin: 100px auto;
	padding: 40px;
	background: rgba(255,255,255,0.5);
	width: 80%;
	position: relative;
	border-radius: 10px;
	min-width: 300px;
  }

  #regForm::before {
	content: " ";
	position: absolute;
	background: rgba(255,255,255,0.15);
	inset: 0;
	z-index: -1;
	transform: rotate(-5deg);
  }


  .login-card header{
	text-align: center;
  }



  .login-card-header{
	margin-bottom: 2rem;
	text-align: center;
  }

  .login-card-header h1{
	border-bottom: 5px solid rgba(121, 37, 104, 0.9);
	
	font-weight: 600;
	font-size: 2rem;

	

    display: inline-block;

    margin-bottom: 33px;
    padding: 5px 0;

  }
 

  .login-card a{
	text-decoration: none;
	color:#35339a;
  }


  .login-card-header h1 + div {
	font-size: 1.5rem;
	opacity: .8;
  }


  .login-card-form{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
  }

  .login-card-form .form-item{
	position: relative;
  }

  .login-card-form .form-item .form-item-icon{
	position: absolute;
	top: 0.82rem;
	left:1.4rem;
	font-size: 1.3rem;
	opacity: 0.4;
  }


  
  /* Style the input fields */
  input {
	border:none;
	outline: none;
	padding: 1rem 1.5rem;
	padding-left: calc(1rem*3.5);
	width: 100%;
	font-size: 17px;
	outline:none;
	background: rgba(255,255,255,0.3);	
	border-radius: 100px;
  }

  .login-card input:focus{
	background: white;
  }

  

  button{
	background:black;
	color: white;
	text-transform: uppercase;
	border-radius: 50px;
	font-size: 1.2rem;
	padding: 0.5rem;	
    float:right;
    margin:1rem;
  }

    button:hover{
	background-color: rgba(0,0,0, 0.5);
	font-weight: bolder;
	cursor:pointer;
  }


  .login-card-social{
	display: flex;
	flex-direction: column;
	gap:1rem;
	text-align: center;
	margin-top: 0.5rem;
  }

  .login-card-social > div{
	opacity: 0.8;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8rem;
  }

  .login-card-social-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	gap:1rem;
  }

  .login-card-social-btn i {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background: rgba(255,255,255,0.6);
	border-radius: 50%;
  }

  .login-card-social-btn i:hover {
     background: white;
	 transform: scale(1.1);
  }

 
